/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


hr.dotted {
  border-top: 2px dotted #999;
}

hr.dashed {
  border-top: 2px dashed #999;
}

hr.solid-white {
  border-top: 4px solid #ffffff;
  background-color: aliceblue;
  color: aliceblue;
}
