<div class="row">
  <div class="col"><hr class="solid-white"></div>
  <div class="col-auto text-white"><h2>Hot and cold observables</h2></div>
  <div class="col"><hr class="solid-white"></div>
</div>


<div class="d-flex">
<div class="border m-2">
  <div>
  <button class="m-2" (click) ="subscribeColdSubscription()" mat-raised-button color="warn">cold subscription</button>
  </div>
  <div class="text-white p-2">
    data produced by the observable when subscribe
  </div>
</div>

<div class="border m-2">
  <div>
  <button class="m-2" (click) ="subscribeHotSubscriptionWithShare()" mat-raised-button color="warn">hot subscription with use share</button>
  <button class="m-2" (click) ="triggerHotSubscriptionWithShare()" mat-raised-button color="warn">triger event</button>
</div>
  <div class="text-white p-2">
    data produced from outside
  </div>
</div>

<div class="border m-2">
  <div>
  <button class="m-2" (click)="subscribeHotSubscriptionWithShareReply()" mat-raised-button color="warn">hot subscription with use shareReplay</button>
  <button class="m-2" (click) ="triggerHotSubscriptionWithSchareReply()" mat-raised-button color="warn">triger event</button>
</div>
  <div class="text-white p-2">
    data produced from outside and replies
  </div>
</div>
</div>
