body{
	font-family: CURSIVE;
}

.bg-blue{
	background-color:#BF9630;
}

.bg-dark{
	background-color: #091E35;
}
.h-div{
	width:auto;%;
	height:auto;
	min-height:40px;
	border: 10px solid #FFB600;
	border-radius:20px;
}

.centerd{
	text-align:center;
}
.left-T{
	text-align:left;
}

.btn{
	border:5px solid;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color:#62B1D0;
}
.border-darkblue{
	border-color:#0776A0;
}

.data-div{
	border: 5px solid #555;
	border-radius: 20px;
	margin: 5px;
	width:45%;
	min-height:20px;
	float: left;
	background-color:#fff;
}
.text-white{
	color: #CBD5DF;
}

.quests-div{
	float: left;
	height: auto;
	margin: 5px;
	background-color:#024C68;
	min-height:20px;
	border: 5px solid #3AA6D0;
	border-radius:20px;
	width:20rem;
}
.quests-div-title{
	margin: 5px;
	background-color:#8C6DD7;
	height: 60px;
	border: 5px solid #7147D7;
	border-radius:20px;
}
.d-flex{
	display: flex;
	justify-content:center;
}
.w-100{
	width: 100%
}
.containerlvl{
	display:flex;
	justify-content: center;
	width:100%;
	height: auto;
}


/*==============================*/

.btn-calcul{
	width:40px;
	height:40px;
	font-size: 22px;
	margin:0px;
}
.btn:hover{
	background-color:aqua;
	transition: 0.5s;
}


