<button class="m-2" (click)="rxMap1()" mat-raised-button color="warn">map</button>
<button class="m-2" (click)="rxMap2()" mat-raised-button color="warn">map</button>


<button class="m-2" (click)="rxMapTo1()" mat-raised-button color="warn">mapTo</button>
<button class="m-2" (click)="rxPluck()" mat-raised-button color="warn">pluck</button>

<button class="m-2" (click)="rxScan()" mat-raised-button color="warn">scan</button>
<button class="m-2" (click)="rxBuffer()" mat-raised-button color="warn">expand</button>






<!--<button class="m-2" mat-raised-button color="primary" (click)="rxIntervalSubscribe()">Interval subscribe</button>
<button class="m-2" mat-raised-button color="primary" (click)="rxIntervalUnsubscribe()">Interval unsubscribe</button>

<button class="m-2" mat-raised-button color="warn" (click)="rxFrom1()">From</button>
<button class="m-2" mat-raised-button color="warn" (click)="rxFrom2()">From</button>-->
